include README.rst
include MANIFEST.in
include LICENSE
include HISTORY
include setup.py
include examples/*.py
include test/*.py
include src/asterix/*.cpp
include src/asterix/*.c
include src/asterix/*.h
include src/python/*.cpp
include src/python/*.c
include src/python/*.h
recursive-include install/config *.xml *.ini *.dtd
